@import url('https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab');

* {
    border: 0;
    font: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #fafafa;
    color: #505050; 
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 auto;
    width: 100%; /* Ensure the body spans full width */
}

.banner {
    position: relative;
    font-family: 'Roboto Slab', serif;
    width: 100%; /* Ensure the banner spans full width */
    height: auto;
}

.banner-img {
    width: 100%; /* Full width */
    height: auto; /* Auto height for scaling */
    object-fit: cover; /* Ensures the image covers the banner area */
}

.top-left {
    font-size: 5.33em;
    color: #505050;
    background: #fafafa;
    text-align: center;
    width: 100%;
    position: absolute;
    padding: 36px 0 0 0;
    top: 0px;
}

.bottom-right {
    font-size: 2.33em;
    color: #fafafa;
    line-height: 1.5em;
    padding: 0px 27px 27px 0px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-shadow: 0px 0px 6px #000000;
}

/* Conference Title */
.title1 {
    color: #b2132e;
    text-shadow: 1px 1px 3px #c0c0c0;
}

.title2 {
    color: #52739e;
    text-shadow: 1px 1px 3px #c0c0c0;
}

.year {
    color: #505050;
    font-size: 0.67em;
    font-weight: lighter;
}

/* Navigation */
.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: right;
}

.nav-links ul li {
    display: inline-block;
    padding: 12px;
}

.nav-links ul li a {
    color: white;
    font-size: 1.2em;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.nav-links ul li a:hover {
    background-color: #575757;
}

/* Footer */
footer {
    font-size: 0.875em;
    margin-top: 4em;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
